body {
  background-color: #000;
  padding-top: 60px;
}

#temp {
  vertical-align: text-top;
}

#error {
  color: red;
}

.inline {
  display: inline;
}

hr {
  border-top: 2px solid black !important;
}
